.app__navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(126, 126, 125, 0.212);
    position: fixed;
}

.app__navbar-logo img{
    width: 220px;
}

.nav_items-container {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.nav_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.nav_items-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_item {
    padding: 0px 20px;
    transition: 150ms;
}

.nav_item:hover{
    transform: scale(1.3);
    transform-origin:bottom
}

/*------------- Small screen menu---------------*/
.app__navbar-smallscreen {
    display: none;
    position: absolute;
    top: 27px;
    right: 20px;
}

.app__navbar-smallscreen-container {
    display: none;
}

.app__navbar-smscreen_overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 150px;
    background-color: var(--color-black);
    transition: 0.5s ease;
    z-index: 5;
}

.app__navbar-smallscreen-links-container{
    position: absolute;
    top: 60px;
    right: 6px;
}

.app__navbar-smallscreen-links {
    display: flex;
    flex-direction: column;
    top: 10%;
}

.sidebar_item:hover {
    background-color: rgba(48, 48, 48, 0.699);
}

.sidebar_item {
    padding: 8px 24px;
    border-top: 1px solid rgba(126, 126, 125, 0.404);
   
}

.crossBtn {
    outline: none;
    border: none;
    background: none;
    font-size: 21px;
    color: #fff;
    position: absolute;
    top: 18px;
    right: 115px;
    cursor:pointer;
}

@media screen and (max-width: 1150px) {
    .nav_items-container {
        display: none;
    }
    .app__navbar-logo img{
        width: 120px;
    }
    .app__navbar {
        position: fixed;
    }

    .app__navbar-smallscreen {
        display: flex;
    }
    .app__navbar-smallscreen-container {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar-smscreen_overlay {
        width: 130px;
    }
    .sidebar_item {
        padding: 8px 20px;
    }
}